body {
    background: url("https://cdn.hipwallpaper.com/i/78/24/ORp1MC.jpg") no-repeat center center / cover;
}

.sites {
    display: flex;
    justify-content: space-around;
}

.site {
    margin-top: 20%;
    font-size: 50px;
    text-decoration: none;
    color:rgb(255, 0, 0);
    
}

