body {
    background: url("https://avatars.mds.yandex.net/get-pdb/1946832/0b1a1dce-bcfd-4ed6-ba2c-645769ce5102/orig") no-repeat center center / cover;
}

.sites {
    display: flex;
    justify-content: space-around;
}

.site {
    margin-top: 20%;
    font-size: 50px;
    text-decoration: none;
    color:rgb(255, 0, 0);
    
}

