.title {
    padding: 45px 0;
    text-align: center;
}

.title__header {
    font-size: 36px;
    color: #303030;
    text-transform: uppercase;
}

.title__subheader {
    font-size: 18px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #606060;
    padding: 20px;
}